.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.navbar-dark {
  background-color: rgb(158, 27, 27);
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background-color: #8f5144 !important;
  color:floralwhite;
}